@model LeonardCRM.DataLayer.ModelEntities.Eli_User
@{
    Layout = "~/Views/Shared/_AuthenLayout.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Leonard</b>USA</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">        
         @if (ViewBag.Success == null)
         {
            <p class="login-box-msg">@ViewBag.RESET_PASSWORD_TITLE </p>
         }
        @using (Html.BeginForm("ResetPassword", "Account", new { @p = Request.QueryString["p"] }, FormMethod.Post, new { @id = "form1" }))
        {
            if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
            {
                <div class="alert alert-danger">
                    <strong>@ViewBag.ErrorTitle</strong><br>
                    @Html.Raw(ViewBag.ErrorMsg)
                </div>
            }

            if (ViewBag.Success != null && ViewBag.Success.Count > 0)
            {
                <div class="alert alert-success">
                    @foreach (var item in ViewBag.Success)
                    {
                        <text>
                            <div>
                                * @Html.Raw(item)
                            </div>
                        </text>
                    }
                </div>
            }
            else
            {            
                <div class="form-group has-feedback">
                    <input type="password" data-validation="required" data-validation-error-msg="@ViewBag.NEW_PASSWORD_ERROR_MSG" class="form-control" id="password" name="password" placeholder="@ViewBag.PASSWORD_RES">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" data-validation="required" data-validation-error-msg="@ViewBag.CONFIRM_NEW_PASSWORD_ERROR_MSG" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="@ViewBag.CONFIRM_PASSWORD_RES">
                    <span class="glyphicon glyphicon-repeat form-control-feedback"></span>
                </div>
                <div class="row">               
                    <div class="col-xs-5 pull-right">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" id="btnSubmit">@ViewBag.SUBMIT_LOGIN</button>
                    </div><!-- /.col -->
                </div>
            }
        }
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

@section styles
{
    <style>
        .alert {
            padding: 5px;
        }

        .formcenter {
            top: 20%;
            bottom: 30%;
            left: 30%;
            right: 30%;
        }

        .formError {
            left: 180px !important;
            max-width: 330px !important;
        }
    </style>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            var myLanguage = {
                errorTitle: '@ViewBag.ErrorTitle'
            };
            $.validate({
                language: myLanguage,
                validateOnBlur: false, // disable validation when input looses focus
                errorMessagePosition: 'top', // Instead of 'element' which is default
                scrollToTopOnError: false, // Set this property to true if you have a long form
                onValidate: function (form) {
                    $(".alert-danger").remove();
                    if ($("#password").val() != "" && $("#passwordConfirm").val() != "" && $("#password").val() != $("#passwordConfirm").val()) {
                        return {
                            element: $("#passwordConfirm"),
                            message: '@ViewBag.PASSWORD_CONFIRMATION_NO_MATCH_ERROR_MSG'
                        }
                    }
                    return "";
                }
            });
        });
    </script>
}